## Get some data

In [3]:
import pandas as pd
sp500 = pd.read_csv("strata_data/data/table.csv", index_col=0, parse_dates=True)
sp500.head()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2016-01-11,1926.119995,1935.650024,1901.099976,1923.670044,4607290000,1923.670044
2016-01-08,1985.319946,1985.319946,1918.459961,1922.030029,4664940000,1922.030029
2016-01-07,1985.319946,1985.319946,1938.829956,1943.089966,5076590000,1943.089966
2016-01-06,2011.709961,2011.709961,1979.050049,1990.260010,4336660000,1990.260010
2016-01-05,2013.780029,2021.939941,2004.170044,2016.709961,3706620000,2016.709961

In [4]:
sptt = sp500[["Adj Close"]]
sptt.head()

              Adj Close
Date
2016-01-11  1923.670044
2016-01-08  1922.030029
2016-01-07  1943.089966
2016-01-06  1990.260010
2016-01-05  2016.709961

In [5]:
sptt.tail()

            Adj Close
Date
1950-01-09      17.08
1950-01-06      16.98
1950-01-05      16.93
1950-01-04      16.85
1950-01-03      16.66

In [6]:
sp500.index

DatetimeIndex(['2016-01-11', '2016-01-08', '2016-01-07', '2016-01-06',
               '2016-01-05', '2016-01-04', '2015-12-31', '2015-12-30',
               '2015-12-29', '2015-12-28',
               ...
               '1950-01-16', '1950-01-13', '1950-01-12', '1950-01-11',
               '1950-01-10', '1950-01-09', '1950-01-06', '1950-01-05',
               '1950-01-04', '1950-01-03'],
              dtype='datetime64[ns]', name='Date', length=16613, freq=None)

In [8]:
# which days did the market go up or down?
def rel_change(x):
    return (x[0] - x[1])/x[1]

In [9]:
sptt.assign?

Signature: sptt.assign(**kwargs) -> 'DataFrame'
Docstring:
Assign new columns to a DataFrame.

Returns a new object with all original columns in addition to new ones.
Existing columns that are re-assigned will be overwritten.

Parameters
----------
**kwargs : dict of {str: callable or Series}
    The column names are keywords. If the values are
    callable, they are computed on the DataFrame and
    assigned to the new columns. The callable must not
    change input DataFrame (though pandas doesn't check it).
    If the values are not callable, (e.g. a Series, scalar, or array),
    they are simply assigned.

Returns
-------
DataFrame
    A new DataFrame with the new columns in addition to
    all the existing columns.

Notes
-----
Assigning multiple columns within the same ``assign`` is possible.
Later items in '\*\*kwargs' may refer to newly created or modified
columns in 'df'; items are computed and assigned into 'df' in order.

Examples
--------
>>> df = pd.DataFrame({'temp_c': [17.0, 25.0]},
...                   index=['Portland', 'Berkeley'])
>>> df
          temp_c
Portland    17.0
Berkeley    25.0

Where the value is a callable, evaluated on `df`:

>>> df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32)
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

Alternatively, the same behavior can be achieved by directly
referencing an existing Series or sequence:

>>> df.assign(temp_f=df['temp_c'] * 9 / 5 + 32)
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

You can create multiple columns within the same assign where one
of the columns depends on another one defined within the same assign:

>>> df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32,
...           temp_k=lambda x: (x['temp_f'] +  459.67) * 5 / 9)
          temp_c  temp_f  temp_k
Portland    17.0    62.6  290.15
Berkeley    25.0    77.0  298.15
File:      c:\users\jeffs\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [10]:
sptt.ix[0:20] # what's going on here?

AttributeError: 'DataFrame' object has no attribute 'ix'

In [11]:
sptt.UpDown = sptt.UpDown.shift(-1)

AttributeError: 'DataFrame' object has no attribute 'UpDown'

In [12]:
sptt.ix[0:20]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [13]:
sptt.head()

              Adj Close
Date
2016-01-11  1923.670044
2016-01-08  1922.030029
2016-01-07  1943.089966
2016-01-06  1990.260010
2016-01-05  2016.709961

In [14]:
sptt.tail()

            Adj Close
Date
1950-01-09      17.08
1950-01-06      16.98
1950-01-05      16.93
1950-01-04      16.85
1950-01-03      16.66

In [15]:
sptt.index

DatetimeIndex(['2016-01-11', '2016-01-08', '2016-01-07', '2016-01-06',
               '2016-01-05', '2016-01-04', '2015-12-31', '2015-12-30',
               '2015-12-29', '2015-12-28',
               ...
               '1950-01-16', '1950-01-13', '1950-01-12', '1950-01-11',
               '1950-01-10', '1950-01-09', '1950-01-06', '1950-01-05',
               '1950-01-04', '1950-01-03'],
              dtype='datetime64[ns]', name='Date', length=16613, freq=None)

In [16]:
dir(sptt.index)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__inv__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_arith_method',
 '_assert_can_do_setop',
 '_assert_safe_casting',
 '_attributes',
 '_bool_ops',
 '_cache',
 '_can_fast_intersect',
 '_can_fast_union',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_hold_strings',
 '_can_reindex',
 '_can_union_without_object_cast',
 '_check_indexing_error',
 '_check_indexing_method',
 '_cleanup',
 '_cmp_method',
 '_coerce_scalar_to_index',
 '_comparables',
 '_concat',
 '_constructor',
 '_convert_arr_indexer',
 '_convert_can_do_setop',
 '_convert_list_indexer',
 '_convert_listlike_indexer',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_data',
 '_data_cls',
 '_datetimelike_methods',
 '_datetimelike_ops',
 '_default_dtype',
 '_defer_to_indexing',
 '_deprecate_mismatched_indexing',
 '_difference',
 '_dir_additions',
 '_dir_additions_for_owner',
 '_dir_deletions',
 '_drop_level_numbers',
 '_engine',
 '_engine_type',
 '_fast_union',
 '_field_ops',
 '_filter_indexer_tolerance',
 '_format_attrs',
 '_format_data',
 '_format_duplicate_message',
 '_format_native_types',
 '_format_space',
 '_format_with_header',
 '_formatter_func',
 '_get_attributes_dict',
 '_get_delete_freq',
 '_get_engine_target',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_grouper_for_level',
 '_get_indexer_non_comparable',
 '_get_insert_freq',
 '_get_join_freq',
 '_get_level_number',
 '_get_level_values',
 '_get_names',
 '_get_nearest_indexer',
 '_get_partial_string_timestamp_match_key',
 '_get_reconciled_name_object',
 '_get_string_slice',
 '_get_time_micros',
 '_get_unique_index',
 '_get_values_for_loc',
 '_has_complex_internals',
 '_has_same_tz',
 '_hasnans',
 '_hidden_attrs',
 '_id',
 '_index_as_unique',
 '_index_data',
 '_inner_indexer',
 '_intersection',
 '_invalid_indexer',
 '_is_all_dates',
 '_is_comparable_dtype',
 '_is_dates_only',
 '_is_memory_usage_qualified',
 '_is_monotonic_decreasing',
 '_is_monotonic_increasing',
 '_is_numeric_dtype',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_is_unique',
 '_isnan',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_precedence',
 '_left_indexer',
 '_left_indexer_unique',
 '_logical_method',
 '_map_values',
 '_maybe_cast_for_get_loc',
 '_maybe_cast_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_check_unique',
 '_maybe_disable_logical_methods',
 '_maybe_disallow_fill',
 '_maybe_promote',
 '_maybe_utc_convert',
 '_mpl_repr',
 '_na_value',
 '_name',
 '_nan_idxs',
 '_no_setting_name',
 '_object_ops',
 '_outer_indexer',
 '_parsed_string_to_bounds',
 '_partial_date_slice',
 '_reduce',
 '_reindex_non_unique',
 '_require_scalar',
 '_reset_cache',
 '_reset_identity',
 '_resolution_obj',
 '_scalar_data_error',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_should_compare',
 '_should_fallback_to_positional',
 '_simple_new',
 '_sort_levels_monotonic',
 '_string_data_error',
 '_summary',
 '_supports_partial_string_indexing',
 '_transform_index',
 '_typ',
 '_unary_method',
 '_union',
 '_union_incompatible_dtypes',
 '_validate_dtype',
 '_validate_fill_value',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_validate_partial_date_slice',
 '_validate_positional_slice',
 '_validate_sort_keyword',
 '_values',
 '_with_freq',
 '_wrap_joined_index',
 '_wrap_setop_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asi8',
 'asof',
 'asof_locs',
 'astype',
 'ceil',
 'copy',
 'date',
 'day',
 'day_name',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'delete',
 'difference',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'floor',
 'format',
 'freq',
 'freqstr',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'get_value',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'hour',
 'identical',
 'indexer_at_time',
 'indexer_between_time',
 'inferred_freq',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_all_dates',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_leap_year',
 'is_mixed',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_month_end',
 'is_month_start',
 'is_normalized',
 'is_numeric',
 'is_object',
 'is_quarter_end',
 'is_quarter_start',
 'is_type_compatible',
 'is_unique',
 'is_year_end',
 'is_year_start',
 'isin',
 'isna',
 'isnull',
 'isocalendar',
 'item',
 'join',
 'map',
 'max',
 'mean',
 'memory_usage',
 'microsecond',
 'min',
 'minute',
 'month',
 'month_name',
 'name',
 'names',
 'nanosecond',
 'nbytes',
 'ndim',
 'nlevels',
 'normalize',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'quarter',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'resolution',
 'round',
 'searchsorted',
 'second',
 'set_names',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'snap',
 'sort',
 'sort_values',
 'sortlevel',
 'std',
 'strftime',
 'symmetric_difference',
 'take',
 'time',
 'timetz',
 'to_flat_index',
 'to_frame',
 'to_julian_date',
 'to_list',
 'to_native_types',
 'to_numpy',
 'to_period',
 'to_perioddelta',
 'to_pydatetime',
 'to_series',
 'transpose',
 'tz',
 'tz_convert',
 'tz_localize',
 'tzinfo',
 'union',
 'union_many',
 'unique',
 'value_counts',
 'values',
 'view',
 'week',
 'weekday',
 'weekofyear',
 'where',
 'year']

In [18]:
sptt['day_num'] = sptt.index.dayofweek

<ipython-input-18-01c8c7ec58c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sptt['day_num'] = sptt.index.dayofweek

In [19]:
sptt.head(7)

              Adj Close  day_num
Date
2016-01-11  1923.670044        0
2016-01-08  1922.030029        4
2016-01-07  1943.089966        3
2016-01-06  1990.260010        2
2016-01-05  2016.709961        1
2016-01-04  2012.660034        0
2015-12-31  2043.939941        3

In [20]:
sptt["Adj Close"].groupby(sptt.index.dayofweek).mean()

Date
0    478.334693
1    487.397694
2    487.905133
3    485.221006
4    484.926614
Name: Adj Close, dtype: float64

In [21]:
def last_three_days_down(x):
    if x[1]<=0 and x[2]<=0 and x[3]<=0:
        return 1
    else:
        return 0

In [22]:
sptt['ltdd'] = pd.rolling_apply(sptt["UpDown"], 4, last_three_days_down).shift(-3)

AttributeError: module 'pandas' has no attribute 'rolling_apply'

In [23]:
sptt.head()

              Adj Close  day_num
Date
2016-01-11  1923.670044        0
2016-01-08  1922.030029        4
2016-01-07  1943.089966        3
2016-01-06  1990.260010        2
2016-01-05  2016.709961        1

In [24]:
len(sptt)

16613

In [25]:
import numpy as np

In [26]:
sptt['turned'] = (sptt['ltdd'] > 0.) & (sptt['UpDown'] > 0.)
sptt.head(50)

KeyError: 'ltdd'

In [27]:
sp_turning_days_totals = sptt.turned.groupby(sptt.index.dayofweek).sum()
%matplotlib inline
sp_turning_days_totals.plot()

AttributeError: 'DataFrame' object has no attribute 'turned'

In [28]:
sp_turning_days_totals

NameError: name 'sp_turning_days_totals' is not defined